body{
    background-color:#F8F8F8 ;
}
.navbar-brand {
    color: black;
    font-weight: bold;
    font-size: 27px;
}

.btn-outline-success {
    color: rgb(250, 242, 242);
    border-color: rgb(241, 237, 237);
}

.img {
    border-radius: 10% 10% 50% 50% / 0% 0% 22% 22%;
    width: 100%;
    height: 50%;
}

#navbarNavDropdown {
    margin-left: 10px; 
    margin-bottom: 10px;
}

.navbar-nav {

    margin-left: 309px;
    column-gap: 20px;
    font-weight: bold;
  

}


.nav-link {
    margin-left: 5px;
    font-size: 16px;
    color: white;
    font-weight: bold;
}

.search {
    display: block;
    width: 100%; 
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    border: none;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-clip: padding-box;
    transition: 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}
.first-card{
    display: flex;
    justify-content: center;
    align-items: center;
}
.textContent{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    position: absolute;
     top: 50%;
     left: 40%;
     font-size: 35px;
}

.card-img-top{
    background-color: aliceblue;
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-text{
    font-size: x-large;
}
.card-text3{
    font-size: 26px;
}
.card-body{
    text-align: center;
    align-items: center;
}
.card-body3{
    text-align: center;
    align-items: center;
    margin-top: 19px;
    flex: 1 1 auto;
    color: var(--bs-card-color);
    margin-bottom: 6px;
    padding: 1px;
}
.Discovernow1{
    text-decoration: none;
    height: 56px;
    line-height: 55px;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    color: #45409b; }
.Discovernow1div{
   justify-content: center;
   align-items: center;
    border-top: 1px solid black;
    display: flex;
  
}
.bi-arrow-right{
    color: #45409b;
    font: bold;
}
.Discovernow1div{

    background-image: linear-gradient(to top, rgb(93, 152, 239) 50%, transparent 50%);
    background-size: 100% 200%;
    background-position: top;
    transition: background-position 0.5s ease-in-out; 
    color: black;
 
  transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);}
  .Discovernow1div:hover {
    background-position: bottom;
    color: black;
  }
  .card {
    transition: 0.5s;
  }
  .card:hover {
    margin-top: -13px;
  }
.number{
    font-size: 180px;
    line-height: 0.8;
    font-weight: 700;
    margin: 0 5px -5px -5px;
    color: #d2a98e;
}
.hading{
    position: relative;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 4px;
    color: #ababab;
    text-transform: uppercase;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    
    align-items: flex-end;
}
.success{
    color: #3760f4;
}
.modern h3{
    margin-top: 25px;
    font-size: 44px;
}
.accountmaindiv{
    position: relative;
    margin-bottom: 40px;
    text-align: end;
    
}

.Accountcounter{
    color: #45409b;
    margin-bottom: 19px;
    font-size: 56px;
    font-weight: 400;
    line-height: 1;
}
.Accounttext{
    font-size: 14px;
    text-transform: uppercase;
    color: #7e7e7e;
}
.industries-h4 {
    color: #7e7e7e;
    font-size: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
    line-height: 1.43;
    margin-top: -5px;
    font-family: "Inter", sans-serif;
}
.industrisediv{
    text-align: center;
    align-items: center;
    margin-top: 20px;
}
.industry-h2{
    font-size: 40px;
    color: #333333;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.3;

}
.card-img-top-web{
    background-color: aliceblue;
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Discovernow1div-web{
    justify-content: center;
    align-items: center;
     display: flex;
   
}
.contact-heading{
    border-left: 2px solid #d2a98e;
    position: relative;
    padding-left: 34px;
    font-weight: 600;
    line-height: 1.4;
}
.cards-web {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-div{   
    margin-top: 15%;
 }
.sub-heading{
    margin-top: 15px;
    font-size: 18px;
    margin-left: 34px;
    margin-bottom: 40px;
}
.heading-call{
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 10px;
}
.call-div{
    text-align: center;
    margin-top: 15%;
}
.contact-us{
    font-size: 15px;
    font-weight: 500;
    border-style: solid;
    border-radius: 5px;
    border-color: transparent;
    border: 1px solid transparent;
    padding: 0 36px;
    text-align: center;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    height: 54px;
    line-height: 54px;
    letter-spacing: 0em;
    color: #ffffff;
    background: #45409b;
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}
.indus-h6{
    color: #ababab;
    font-size: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
    line-height: 1.43;
    margin-top: -5px;
}
.two-card{
    background-color: #ffffff;
    padding: 20px;
    
}
.card-round-img{
    border-radius: 50%;
    width: 80px;
    height: 70px;
  margin: 20px;
}


.two-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.two-card {
    transition: 0.5s;
  }
  .two-card:hover {
    margin-top: -13px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  }
  .succec{
    color: #d2a98e;
  }
  .Letstallk{
    background-color: #ffffff;
    color: #3760f4;
    padding: 7px;
    margin: 6px;
    border: none;
    width: 116px;
    border-radius: 5px;
    transition: 0.3s;
  }
  .Letstallk:hover{
    background-color: #3760f4;
    color: #ffffff;
    margin-top: -2px;
  }

  .getinfo{
    background-color: #d2a98e;
    color: #ffffff;
    padding: 7px;
    margin: 6px;
    border: none;
    width: 116px;
    border-radius: 5px;
    transition: 0.3s;
  }
  .getinfo:hover{
    background-color: #3760f4; 
    margin-top: -2px;

  }
  .ul-li{
    list-style: outside none none;
color: #848181;    
    padding-left: 5px;
    column-gap: 4px;

  }
.ul-li li{
    margin-top: 5px;

 }
 .ul-li:hover{
    color: #d2a98e;
 }
 @media (max-width: 991.98px) {
    .navbar-brand {
      display: block;
      text-align: center; 
    }
    
    .navbar-collapse {
      text-align: center; 
    }
    
    .navbar-nav {
      margin: auto; 
    
    .img {
      margin-bottom: 10px; 
    }
  }
  
 }